# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo

# Virtual environments
venv/
env/
.venv/
.env/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db

# Python environment files
*.log

# Jupyter Notebook checkpoints (if you ever use them)
.ipynb_checkpoints/
